body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  /* display: flex; */
  /* flex-direction: column; /*setting to column for the footer*/
}

.section-1 {
  background-color: pink;
  padding: 40px;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.header-links {
  display: flex;
  justify-content: space-between;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.about-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

button {
  background: royalblue;
  border: 1px solid royalblue;
  color: white;
  width: 100px;
  padding: 10px;
  border-radius: 20px;
}

.flowers-image {
  display: flex;
}

/*NOTE: border radius for rounded corners*/
.anime-flower-shop-image {
  width: 500px;
  height: auto;
  border-radius: 20px;
}

/*NOTE: border radius 50px to get circle effect*/
.mini-marcui-logo {
  width: 75px;
  border-radius: 50px;
}

.marcui-title {
  font-size: 35px;
  text-align: center;
  color: hotpink;
  font-weight: 1000;
  margin: 20px;
}

.mini-image > img {
  width: 100px;
  height: 100px;
}

.mini-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.image-and-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.section-3 {
  display: flex;
  flex-direction: column;
  background-color: #fdc89c;
  text-align: center;
  font-style: italic;
  padding: 60px 60px;
  font-size: 36px;
}

.quote-author {
  display: flex;
  justify-content: flex-end;
}

.section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  height: 200px;
}

.call-to-action-rectangle {
  display: flex;
  background-color: #3882f6;
  border-radius: 20px;
  /* justify-content: space-between; */
}

.left-side-text {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.bolded-text {
  font-weight: 900;
  color: white;
  margin: 0;
}

.text-underneath-bold {
  color: white;
  margin: 0;
}

.call-to-action-rectangle > button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3882f6;
  margin: 50px;
  border-color: white;
}

.section-5 {
  display: flex;
  height: 50px;
  background-color: #ffbf01;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

a {
  text-decoration: none;
  background-color: burlywood;
  color: blue;
}
